<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "OSU Ruby on Rails") %></title>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
  <div id='wrap'>
    <div id='header'>
        <h1>osu.rb</h1>
        <ul id='navigation'>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Resources', '#' %></li>
          <li><%= link_to 'Contact', '#' %></li>
          <% if signed_in? %>
          <li><%= link_to 'Logout', sign_out_path %></li> 
          <% else %>
          <li><%= link_to 'Login', sign_in_path %></li>
          <% end %>
        </ul>
    </div>
    <div id='container' class='clearfix'>
      <div id='content_wrapper'>
        
        <%= yield :banner %>

        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        
        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>
        

         <div id='page_content'>
          <%= yield %>
         </div>
      </div>
    </div>
  </div>
  <div id='footer'>
  </div>
  </body>
</html>
